<div class="row">
  <div class="span6 offset3">

      <%= form_for(@bookmark, :html => {:multipart => true}) do |f| %>
      <% if @bookmark.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

          <ul>
          <% @bookmark.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="field">
          <% unless @bookmark_show_id.nil? %><br />
              <label>id </label>
              <%= @bookmark_show_id.id %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :bookmarks_category %><br />
          <%= f.collection_select :bookmarks_category_id, BookmarksCategory.all, :id, :id_and_bookmark_category , :prompt => true %>
        </div>

        <div class="field">
        <%= f.label :bookmark_url %><br />
        <%= f.url_field :bookmark_url %>
      </div>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
        <div class="field">
          <%= f.label :i_frame %>
          <%= f.radio_button :i_frame, 'y', checked: true %> yes </br>
          <%= f.radio_button :i_frame, 'n' %> no
        </div>

        </br>
        <div class="field">
        <%= f.label :image_name %><br />
        <%= f.file_field :image_name %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>

        </br>
        <div class="field">
          <%= f.label :image_name_desc %><br />
          <%= f.file_field :image_name_desc %>
        </div>

        </br>
        <div class="field">
          <%= f.label :approval %><br />
          <%= f.radio_button :approval, 'y', checked: true %> yes </br>
          <%= f.radio_button :approval, 'n' %> no
        </div>

        </br>
        <div class="field">
          <%= f.label :user_bookmark %><br />
          <%= f.text_field :user_bookmark  %>
        </div>

        </br>
        <div class="field">
          <%= f.label :like %><br />
          <%= f.number_field :like  %>
        </div>



        <div class="actions">
        <%= f.submit %>
      </div>
    </div>
 </div>
<% end %>
