<h1>Listing users_profiles</h1>

<table class="table table-bordered">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Description</th>
    <th>City</th>
    <th>Country</th>
    <th>Birthday</th>
    <th>User</th>
    <th>Friends </th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_profiles.each do |users_profile| %>
  <tr>
    <td><%= users_profile.firstname %></td>
    <td><%= users_profile.lastname %></td>
    <td><%= users_profile.gender %></td>
    <td><%= users_profile.description %></td>
    <td><%= users_profile.city %></td>
    <td><%= users_profile.country %></td>
    <td><%= users_profile.birthday %></td>
    <td><%= users_profile.user_id %></td>
    <td><%= users_profile.friends_number %></td>
    <td><%= link_to 'Show', users_profile %></td>
    <td><%= link_to 'Edit', edit_users_profile_path(users_profile) %></td>
  </tr>
<% end %>
</table>

<br />

