<div id="users_profile_container">

<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @users_profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @users_profile.lastname %>
</p>

<p>
  <b>Gender:</b>
  <%= @users_profile.gender %>
</p>

<p>
  <b>Description:</b>
  <%= @users_profile.description %>
</p>

<p>
  <b>City:</b>
  <%= @users_profile.city %>
</p>

<p>
  <b>Country:</b>
  <%= @users_profile.country %>
</p>

<p>
  <b>Birthday:</b>
  <%= @users_profile.birthday %>
</p>
<li><%= link_to "Edit your data ", edit_users_profiles_by_user_id_path(@users_profile.user_id) %></li>

<p>-------------------------------------------------------------------------</p>


<p>
  <b>User image :</b>
  <%  unless @users_photo.nil? %>
     </br>
     <%= image_tag(@users_photo.image_name.url().to_s,width: 180, height:180) %>
    </br>
      <b>image description:</b>
     <%= @users_photo.description %>

  <% end %>
</p>

<li><%= link_to "Edit your profile image", index_users_photos_by_user_id_path(@users_photo.user_id) %></li>

</div>