<h1>Listing preset bookmarks</h1>

<h3>
  <%= link_to 'New Preset bookmark', new_bundles_bookmark_path %>
</h3>


<table class="table table-bordered">
  <tr>
    <th>Item id</th>
    <th>Item name</th>

    <th>Bookmark id</th>
    <th>Bookmark url</th>
    <th>Bookmark title</th>
    <th>Bookmark Image </th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bundles_bookmarks.each do |bundles_bookmark| %>
  <tr>

    <%  if bundles_bookmark.bookmark.bookmarks_category.item.nil? %>
        <td></td>
        <td></td>
    <%  else %>
        <td><%= bundles_bookmark.bookmark.bookmarks_category.item.id %></td>
        <td><%= bundles_bookmark.bookmark.bookmarks_category.item.name %></td>
    <%  end %>

    <%  if bundles_bookmark.bookmark.nil? %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    <%  else %>
        <td><%= bundles_bookmark.bookmark.id %></td>
        <td><%= bundles_bookmark.bookmark.bookmark_url.to_s %></td>
        <td><%= bundles_bookmark.bookmark.title  %></td>
        <td> <%= image_tag bundles_bookmark.bookmark.image_name.url().to_s ,width: 50, height:50 %> </td>
    <%  end %>




    <td><%= bundles_bookmark.bookmark_id %></td>
    <td><%= link_to 'Show', bundles_bookmark %></td>
    <td><%= link_to 'Edit', edit_bundles_bookmark_path(bundles_bookmark) %></td>
    <td><%= link_to 'Destroy', bundles_bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


