<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @theme.id %>
</p>

<p>
  <b>Name:</b>
  <%= @theme.name %>
</p>

<p>
  <b>Description:</b>
  <%= @theme.description %>
</p>

<p>
  <b>Category:</b>
  <%= @theme.category %>
</p>
<p>
  <b>Style:</b>
  <%= @theme.style %>
</p>
<p>
  <b>Brand:</b>
  <%= @theme.brand %>
</p>
<p>
  <b>Location:</b>
  <%= @theme.location %>
</p>
<p>
  <b>Color:</b>
  <%= @theme.color %>
</p>
<p>
  <b>Make:</b>
  <%= @theme.make %>
</p>
<p>
  <b>Special Name:</b>
  <%= @theme.special_name %>
</p>
<p>
  <b>Like:</b>
  <%= @theme.like %>
</p>


<p>
  <b>Image name:</b>
  <%= image_tag @theme.image_name.url.to_s %>
  <%= @theme.image_name.to_s %>
</p>
<p>
  <b>Image name selection:</b>
  <%= image_tag @theme.image_name_selection.url.to_s %>
  <%= @theme.image_name_selection.to_s %>
</p>




<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
