

<div id="shop_container">
  <div id="shop_filter">
    <h5>Filter by </h5>
    <h5>Type  </h5>
    <% @items_by_type.each do |item| %>
        <%= link_to item.name,  shop_path(item.id), :method => :get %> </br>
    <% end %>

    </br>
    <h5>Color  </h5>
    <% @items_designs_by_color.each do |item_color| %>
        <% unless item_color.color.nil? %>
            <%= link_to item_color.color.titleize,  shop_path(item_color.item_id,item_color:item_color.color), :method => :get %> </br>
        <% end %>
    <% end %>

    </br>
    <h5>Brand </h5>
    <% @items_designs_by_brand.each do |item_brand| %>
        <% unless item_brand.brand.nil? %>
            <%= link_to item_brand.brand.titleize,  shop_path(item_brand.item_id,item_brand: item_brand.brand), :method => :get %></br>
        <% end %>
    <% end %>

    </br>
    <h5>Style </h5>
    <% @items_designs_by_style.each do |item_style| %>
        <% unless item_style.style.nil? %>
            <%= link_to item_style.style.titleize,  shop_path(item_style.item_id,item_style: item_style.style), :method => :get %> </br>
        <% end %>
     <% end %>

    </br>
    <h5>Make </h5>
    <% @items_designs_by_make.each do |item_make| %>
        <% unless item_make.make.nil? %>
            <%= link_to item_make.make.titleize,  shop_path(item_make.item_id,item_make: item_make.make), :method => :get %> </br>
        <% end %>
    <% end %>


  </div>
  <div id="shop_content_items">
    <h4>
      <%= @items_designs.first.item.name%>
    </h4>

    <div id="shop_table">
        <table >

          <% if @item_length > 0 %>
              <%  @items_designs.in_groups_of(@item_length,false).each do |items_design_groups| %>
                  <tr>
                    <% items_design_groups.each do |items_design| %>

                        <td >
                          <%= link_to image_tag(items_design.image_name_selection.url().to_s,width: 200,height:200
                                               ),
                                   shop_show_items_design_path(items_design.id), :method => :get %>
                          </br><%= items_design.name %>
                        </td>

                  <% end %>
                  </tr>
              <% end %>
          <% end %>
        </table>
    </div>

  </div>
</div>



<br />

