<h1>Select items_designs</h1>




<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Item_Design Image name</th>
    <th>Item id</th>
    <th>Item Name</th>
    <th>Location id</th>
    <th>Location Name</th>
    <th>Bundle id</th>
    <th>Bundle Name</th>
    <th>Bundle image name</th>
    <th></th>
  </tr>

  <% @items_designs.each do |items_design| %>
      <tr>

        <td><%= items_design.id %></td>
        <td><%= items_design.name %></td>
        <td><%= items_design.description %></td>
        <td><%= image_tag items_design.image_name.url().to_s ,width: 100, height:100 %></td>


        <%  if items_design.item.nil? %>
            <td></td>
            <td></td>
        <%  else %>
            <td><%= items_design.item_id %></td>
            <td><%= items_design.item.name %></td>
        <%  end %>

        <%  if @location.nil? %>
            <td></td>
            <td></td>
        <%  else %>
            <td><%= @location.id %></td>
            <td><%= @location.name %></td>
        <%  end %>

        <%  if @bundle.id.nil? %>
            <td></td>
            <td></td>
            <td></td>
        <%  else %>
            <td><%= @bundle.id %></td>
            <td><%= @bundle.name %></td>
            <td> <%= image_tag @bundle.image_name.url().to_s ,width: 100, height:100 %> </td>
        <%  end %>
        <td><%= link_to 'Select items Design ', create_bundle_items_design_path(@bundle.id,@location.id,items_design.id), :method => :post %></td>

      </tr>
  <% end %>
</table>


<br />

