<div class="row">
  <div class="span6 offset3">


      <%= form_for(@bundle , :html => {:multipart => true}) do |f| %>
      <% if @bundle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bundle.errors.count, "error") %> prohibited this bundle from being saved:</h2>

          <ul>
          <% @bundle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="field">
          <% unless @bundle_show_id.nil? %><br />
              <label>id </label>
              <%= @bundle_show_id.id %>
          <% end %>
        </div>

        <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>

        <div class="field">
          <%= f.label :category %><br />
          <%= f.text_field :category %>
        </div>
        <div class="field">
          <%= f.label :style %><br />
          <%= f.text_field :style %>
        </div>

        <div class="field">
          <%= f.label :brand %><br />
          <%= f.text_field :brand %>
        </div>
        <div class="field">
          <%= f.label :location  %><br />
          <%= f.text_field :location %>
        </div>


        <div class="field">
          <%= f.label :color %><br />
          <%= f.text_field :color %>
        </div>

        <div class="field">
          <%= f.label :make %><br />
          <%= f.text_field :make %>
        </div>
        <div class="field">
          <%= f.label :special_name %><br />
          <%= f.text_field :special_name %>
        </div>

        <div class="field">
          <%= f.label :like %><br />
          <%= f.number_field :like %>
        </div>


        <div class="field">
        <%= f.label :image_name %><br />
        <%= f.file_field  :image_name %>
      </div>

        <div class="field">
          <%= f.label :image_name_set %><br />
          <%= f.file_field  :image_name_set %>
        </div>



        <div class="field">
        <%= f.label :theme_id %><br />
          <%= f.collection_select :theme_id, Theme.all, :id, :id_and_theme , :prompt => true  %>
      </div>

        <div class="field">
          <%= f.label :section_id %><br />
          <%= f.collection_select :section_id, Section.all, :id, :id_and_section , :prompt => true  %>
        </div>

      <div class="actions">
             <%= f.submit %>
      </div>
  </div>
</div>
<% end %>
