<h1>Listing bundles</h1>

<h3>

  <%= link_to 'New Bundle', new_bundle_path %>
</h3>


<table class="table table-bordered">
  <tr>
    <th>Bundles Id</th>
    <th>Name</th>
    <th>Description</th>


    <th>Bundle Image name</th>
    <th>Bundle Image name Set</th>

    <th>Theme id</th>
    <th>Theme name</th>
    <th>Theme image name</th>

    <th>Section id</th>
    <th>Section name</th>
    <th>Category</th>
    <th>Style</th>
    <th>Brand</th>
    <th>Location</th>
    <th>Color</th>
    <th>Make</th>
    <th>Special Name</th>
    <th>Like</th>
    <th>Active</th>



    <th></th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @bundles.each do |bundle| %>
  <tr>
    <td><%= bundle.id %></td>
    <td><%= bundle.name %></td>
    <td><%= bundle.description %></td>


    <td> <%= image_tag bundle.image_name.url().to_s ,width: 100, height:100 %> </td>
    <td> <%= image_tag bundle.image_name_set.url().to_s ,width: 100, height:100 %> </td>


    <%  if bundle.theme.nil? %>
        <td></td>
        <td></td>
        <td></td>
    <%  else %>
        <td><%= bundle.theme.id %></td>
        <td><%= bundle.theme.name %></td>
        <td> <%= image_tag bundle.theme.image_name.url().to_s ,width: 100, height:100 %> </td>

    <%  end %>

    <%  if bundle.section.nil? %>
        <td></td>
        <td></td>
    <%  else %>
        <td><%= bundle.section.id %></td>
        <td><%= bundle.section.name %></td>
    <%  end %>

    <td><%= bundle.category %></td>
    <td><%= bundle.style %></td>
    <td><%= bundle.brand %></td>
    <td><%= bundle.location %></td>
    <td><%= bundle.color %></td>
    <td><%= bundle.make %></td>
    <td><%= bundle.special_name %></td>
    <td><%= bundle.like %></td>
    <%  if bundle.active.eql?('n') %>
        <td bgcolor="red" ><%= bundle.active %></td>
    <% else %>
        <td><%= bundle.active %></td>
    <% end %>


    <td><%= link_to 'Show', bundle %></td>
    <td><%= link_to 'Edit', edit_bundle_path(bundle) %></td>
    <td><%= link_to 'Active',bundles_active_update_path(bundle.id), :method => :put %></td>


  </tr>
<% end %>
</table>


<br />


