<footer class="footer">
  <small>
    <ul>
      <li> <%= link_to 'Product',about_path %> </li>
      <li><%= link_to 'Team',about_path %>          </li>
      <li><%= link_to 'Our Story',about_path %>     </li>
      <li><%= link_to 'Future Plans',about_path %>       </li>
      <li><%= link_to 'Join The Team',about_path %>       </li>
      <li><%= link_to 'Partnerships',about_path %>         </li>
      <li><%= link_to 'Contact Us',about_path %>            </li>
    </ul>

  </small>
  <nav>
    <span>&copy; Copyright 2012 Rooms Inc. All Rights Reserved</span>
  </nav>
</footer>
